body{
	background-color: silver;
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	line-height: 30px;

}

header{
	background-color: #d14635;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Source Code Pro', monospace;
}

header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 150px;
	border: 15px solid dimgray;
}

main{
	max-width: 600px;
	margin: 0 auto;
	align-content: center;
	padding: 0px 20px 20px 0px
}

main img{
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 60%;	
}

/*Write your comments here*/

h2{
	font-size: 26px;
	margin: 40px 0 10px;
}

a{
	color: #e70c19;
}
a:hover{
	color: #483a94;
}

footer{
	background-color: #d14635;
	text-align: center;
	color: white;	
	padding: 10px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

p.caption{
	font-style: italic;
	margin-top: 0;
	text-align: center;
}